# Notebook for the Capstone Project

In [1]:
#Import Libraries
import pandas as pd 
import numpy as np

print('Hello Capstone Project Course')

Hello Capstone Project Course

## Introduction/Business Problem 

1. Business Problem: 
    - Accidents continue to block traffic and cause backups in the greater Seattle area.  In order to help alleviate the congestion during peak hours of travel we need to know what causes them in the first place.  


2. Hypothesis/Thoughts: 
    - The date/time of day effects the amount of accidents that will occur
        - Independent Variable: Date/Time
    - The severity of an accident is determened by location and time 
        - Independent Variable: Locaiton & Time 


3. Data Background: 
    - SDOT (Seattle Department of Transportation) 
    - Removed 5,639 that were noted NEI (Not enough Information or Insufficient Location Information)
    - Data can be found via GitHub URL with the metadata descriptions.

In [2]:
data = pd.read_csv('SDOT_Collisions.csv')

In [3]:
data.describe()

,OBJECTID,INTKEY,SEVERITYCODE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,57902.000000,21093.000000,57902.000000,57901.000000,57901.000000,57901.000000,57901.000000,57901.000000,4.114000e+03,57901.000000,57901.000000
mean,152805.291821,39702.077419,1.338088,2.300116,0.063039,0.039792,1.866341,14.404881,1.149306e+07,476.019015,28179.457211
std,35121.399719,60018.198383,0.473063,1.466764,0.254422,0.197231,0.698291,7.046695,1.941865e+06,4636.402183,118954.946292
min,1.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.137016e+06,0.000000,0.000000
25%,139877.250000,28734.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,1.024851e+07,0.000000,0.000000
50%,157228.000000,30056.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,1.225201e+07,0.000000,0.000000
75%,175916.750000,34111.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.303002e+07,0.000000,0.000000
max,193731.000000,673471.000000,2.000000,54.000000,4.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,701280.000000

In [4]:
data.head()

,OBJECTID,ADDRTYPE,INTKEY,LOCATION,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,2,Injury Collision,Angles,2.0,0.0,0.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0.0,0.0,N
1,4,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,1,Property Damage Only Collision,Other,3.0,0.0,0.0,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0.0,0.0,N
2,6,Intersection,36974.0,24TH AVE NW AND NW 85TH ST,1,Property Damage Only Collision,Angles,2.0,0.0,0.0,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0.0,0.0,N
3,9,Intersection,29745.0,BROADWAY AND E PIKE ST,2,Injury Collision,Cycles,3.0,0.0,1.0,...,Dry,Daylight,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,6855.0,0.0,N
4,16,Block,NaN,SW SPOKANE ST BETWEEN SW SPOKANE W BR AND TERM...,1,Property Damage Only Collision,Rear Ended,0.0,0.0,0.0,...,Wet,Dark - Street Lights On,NaN,3137016.0,NaN,14,From same direction - both going straight - on...,0.0,0.0,N